#!/bin/bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# for more details

export AWS_PROFILE=awscbba
export JSII_SILENCE_WARNING_UNTESTED_NODE_VERSION=true
export export DIRENV_LOG_FORMAT=""
